html,
body {
  background-color: #495057;
}

.delete-icon:hover {
  transform: scale(1.4);
}

.edit-icon:hover {
  transform: scale(1.4);
}

.thumbnail {
  width: 25vw;
  height: 19vw;
}

@media (max-width: 700px) {
  .thumbnail {
    width: 42vw;
    height: 33vw;
  }
}
